@if (isOpen) {
<div class="container">
  <div class="modal">
    <header>
      <h2>Título</h2>
    </header>

    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis illo, eum commodi, maiores vero
        obcaecati voluptas, laboriosam quam adipisci quis? Aperiam fugiat, sed laborum deleniti blanditiis labore
        impedit asperiores!
      </p>

      <div class="wrapper-buttons">
        <button (click)="handleCloseClick()">Cancelar</button>

        <a href="https://refactoring.guru/design-patterns/composite" class="button" target="_blank">
          Ver mais
        </a>
      </div>
    </div>

  </div>
</div>
}
